* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.link-topo {
    color: #fff;
    text-decoration: none;
}
.container-topo {
    background-color: #fff;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
}
.container-topo a, p {

    color: #000000;
}
.container-topo a {
    justify-content: space-between;
}
.container-top nav, a {
    margin: 10px;
}
.container-topo nav {
    max-width: 1024px;
}

span {
    font-weight: 600;
    color: aqua;
}


.container-banner {
    width: 100%;
    height: 1024px;
    background-image: url(../imagens/img-fundo.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-imagem-atras {
    opacity: 0.5;
    background-color: #0a9077b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 28px;
    color: #fff;
    gap: 40px;
    padding: 40px 20px;
}
.container-imagem-atras h1 {
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
}
.container-imagem-atras p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.container-bem-vindo div {
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.container-bem-vindo div h1 {
    font-size: 32px;
    margin: 35px auto;
    color: grey;
}
.container-bem-bindo div article p {
    font-size: 24px;
    padding: 15px;
    color: grey;
}


.img-calendario {
    background-image: url(../imagens/calendario.png);
    width: 20px;
    height: 20px;
}